@model List<ParcourModel>

@{
    ViewData["Title"] = "Parcour Manager";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
<h1>@ViewData["Title"]</h1>
<table style="border-collapse: collapse; width: 100%; border: 2px solid #000; background-color: #f0f0f0;">
    <thead>
        <tr>
            <th style="border: 1px solid #000; padding: 8px;">ID</th>
            <th style="border: 1px solid #000; padding: 8px;">Name</th>
            <th style="border: 1px solid #000; padding: 8px;">Location</th>
            <th style="border: 1px solid #000; padding: 8px;">CountAnimals</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tmpPar in Model)
        {
            <tr>
                <td>@tmpPar.Id</td>
                <td>@tmpPar.Name</td>
                <td>@tmpPar.Location</td>
                <td>@tmpPar.CountAnimals</td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />
<br />
<br />
<br />

<div class="container">
    <h2>Add new Parcour: </h2>
    <form asp-controller="Admin" asp-action="AddParcour" method="post">
        <!-- Ihre Formularelemente hier -->
        <div class="form-outline mb-4">
            <label class="form-label" for="Name">Name</label>
            <input type="text" id="Name" name="Name" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="Location">Location</label>
            <input type="text" id="Location" name="Location" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="CountAnimals">Count of Animals</label>
            <input type="number" id="CountAnimals" name="CountAnimals" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

