@model List<ParcourModel>

@{
    ViewData["Title"] = "Parcour Manager";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="container" style="margin-bottom: 3rem;">
    <h1 style="color:white">@ViewData["Title"]</h1>

    <table class="col-12" style="border-collapse: collapse; background-color: #f0f0f0; border-radius: 15px;">
    <thead>
        <tr style="border-bottom: 1px solid black; text-align:center; font-size: 1.2rem;">
            <th>ID</th>
            <th>Name</th>
            <th>Location</th>
            <th>CountAnimals</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tmpPar in Model)
        {
            <tr>
                    <td style="text-align:center;">@tmpPar.Id</td>
                    <td style="padding-left:2rem;">@tmpPar.Name</td>
                    <td style="padding-left:2rem;">@tmpPar.Location</td>
                    <td style="text-align:center;">@tmpPar.CountAnimals</td>
            </tr>
        }
    </tbody>
</table>
</div>


<div class="container bg-darkgreen" style="color:white; padding: 1rem;">
    <h2 >Add new Parcour: </h2>
    <form asp-controller="Admin" asp-action="AddParcour" method="post">
        <!-- Ihre Formularelemente hier -->
        <div class="form-outline mb-4">
            <label class="form-label" for="Name">Name</label>
            <input type="text" id="Name" name="Name" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="Location">Location</label>
            <input type="text" id="Location" name="Location" class="form-control" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="CountAnimals">Count of Animals</label>
            <input type="number" id="CountAnimals" name="CountAnimals" class="form-control" />
        </div>
        <button type="submit" class="mybtn btn-active">Submit</button>
    </form>
</div>

